[mysqld]
# 开启通用查询日志
general_log             = 1

#设置通用查查询日志路径
general_log_file        = /var/log/mysql/query.log

# 设置错误日志路径
log_error = /var/log/mysql/error.log

#开启慢查日志
slow_query_log                = 1 

## 指定慢查日志路径
slow_query_log_file   = /var/log/mysql/mysql-slow.log

#超过2秒的sql记录日志，默认10秒（注意是大于，等于2秒的sql则不会被记录）
long_query_time = 2

# 默认保存30天
binlog_expire_logs_seconds    = 2592000

#单个binlog文件的大小限制，如果二进制日志写入的内容大小超出给定值，日志就会发生滚动（关闭当前文件，重新打开一个新的日志文件）。不能将该变量设置为大于1GB或小于4096B，默认值是100M
max_binlog_size   = 100M

# binlog_do_db          = include_database_name
# binlog_ignore_db      = include_database_name

# 指定 db1 db2 记录binlog
[mysqld]
binlog_do_db = db1
binlog_do_db = db2

# 不让 db3 db4 记录binlog
[mysqld]
binlog_ignore_db = db3
binlog_ignore_db = db4

# innodb BufferPool缓存池大小
innodb_buffer_pool_size = 8G 

# innodb BufferPool缓存池个数
innodb_buffer_pool_instances = 2

# 缓存页的大小
innodb_page_size = 16KB

# redo log文件大小
innodb_log_file_size = 128M

# redo log文件个数
innodb_log_files_in_group = 2
